* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    /* background-color: #262626; */
  }
  
  body {
    background: #262626;
  }

.contact-navbar{
    display: flex;
    /* position: fixed; */
    height: 78px;
    width: 100%;
    font-size: 18px;
    background-color: #262626;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    border-bottom: 5px solid #ffb600;
    /* z-index: 9999; */
}

 a {
    text-decoration: none;
}

.contact-logo{
    display: inline-block;
    font-size: 22px;
    margin-top: 16px;
    margin-left: 20px;
    font-weight: 500;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.contact-home-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 24px;
    margin-top: 24px;
    background: transparent url("../images/home.jpg") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 30px;
}

.contact-home-icon {
   cursor: pointer;
}

.table-container {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  height: auto;
  border-radius: 10px;
  background: #ffb600;
  padding: 16px 24px;
}

.contact-info-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #232323;
}

.contact-information-container {
  display: flex;
  margin: auto;
  margin-top: 16px;
  padding: 16px;
}

.contact-param {
  margin: auto;
  margin-top: 8px;
  font-weight: 900;
  font-size: 18px;
}

.contact-info {
  font-style: italic;
  margin: 0 auto;
  margin-top: 16px;
}

#contact-logo-email {
  width: 60px;
  height: 60px;
  background: transparent url("../images/email.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  margin: 0 auto;
  background-size: 60px;
}

#contact-logo-phone {
  width: 60px;
  height: 60px;
  background: transparent url("../images/phone.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  margin: 0 auto;
  background-size: 60px;
}

@media (max-width: 414px) {
   
  .table-container {
    width: 95%;
  }

  .contact-information-container {
    flex-direction: column;
  }
  
}

