.default-settings-text {
  color: rgba(255, 255, 255, 0.7);
}

.default-settings-text:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.default-ccu-title-div {
  max-width: 414px;
  margin: auto;
}

.default-ccu-title-div .default-ccu-title-text {
  color: #ffb600;
  margin-top: 120px;
  margin-left: 29%;
  margin-bottom: 24px;
}

.default-button-div {
  width: 160px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffb600;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0.9;
  margin-top: 15px;
  margin-left: 30%;
  cursor: pointer;
}

.default-button-div:hover {
  background: #7e7e7e;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* /////////////////// Specialties */
.default-specialty-title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.default-specialty-title-text {
  color: #ffb600;
  margin-top: 120px;
  margin-bottom: 24px;
}

.default-specialty-button-div {
  width: 160px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffb600;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0.9;
  margin-bottom: 1em;
  cursor: pointer;
}

.default-specialty-button-div:hover {
  background: #7e7e7e;
  /* background: #434343; */
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* //////////////////// Settings /////////////////////////////////////////*/
.default-settings-title-div {
  position: relative;
  top: 120px;
  margin: auto;
  width: 75%;
  text-align: center;
  background: #ffb600;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.settings-title-span {
  color: #262626;
  font-size: 24px;
  font-weight: 900;
}

.settings-title-ptag {
  color: #fff;
  font-size: 18px;
  margin-top: 6px;
}

.default-parameter-ptag {
  color: #fff;
}

.settings-container-div {
  display: flex;
  flex-direction: column;
  max-width: 414px;
  margin: auto;
}

.settings-parameters-div {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  margin-top: 150px;
  background: #ffb600;
  border-radius: 10px;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.default-parameters-div {
}

.default-parameter-div {
  border-bottom: 1px solid #262626;
  padding: 32px 0px 12px 8px;
}

.default-settings-div {
}

.default-setting-div {
  width: 130%;
  border-bottom: 1px solid #262626;
  padding: 32px 0px 12px 8px;
}

.default-setting-div p {
  margin-left: 24px;
  color: #fff;
}
