* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
.navbar-backbtn-logo-home-div {
  display: flex;
}

.printer-printers-div {
  display: none;
}

.printer-printers-div.printer-printers-div-show {
  display: block;
}

.sdc-sdp1000-settings-div {
  display: none;
}

.sdc-sdp1000-alt-settings-div {
  display: none;
}

.sdc-ultra-sdp1000-settings-div {
  display: none;
}

.sdc-ultra-sdp1000-settings-div.sdc-ultra-sdp1000-settings-div-show {
  margin-top: 30%;
  display: block;
}

.sdc-ultra-sdp1000-alt-settings-div {
  display: none;
}

.sdc-ultra-sdp1000-alt-settings-div.sdc-ultra-sdp1000-alt-settings-div-show {
  margin-top: 30%;
  display: block;
}

.sdc-sdp1000-alt-settings-div.sdc-sdp1000-alt-settings-div-show {
  margin-top: 30%;
  display: block;
}

.sdc-sdp1000-settings-div.sdc-sdp1000-settings-div-show {
  display: block;
}



.printer-settings-main-div.printer-settings-main-div-show {
  display: block;
}

.printer-settings-main-div.printer-settings-main-div-hide {
  display: none;
}

.hub-arthro-settings-div {
  display: none;
}

.hub-spy-settings-div {
  display: none;
}

.hub-spy-settings-div.hub-spy-settings-div-show{
  margin-top: 30%;
  display: block;
}

.hub-olympus-ortho1-settings-div {
  display: none;
}

.hub-olympus-ortho1-settings-div.hub-olympus-ortho1-settings-div-show{
  margin-top: 30%;
  display: block;
}

.hub-olympus-ortho2-settings-div {
  display: none;
}

.hub-olympus-ortho2-settings-div.hub-olympus-ortho2-settings-div-show{
  margin-top: 30%;
  display: block;
}

.hub-arthro-settings-div.hub-arthro-settings-div-show {
  margin-top: 30%;
  display: block;
}

.sdcs-div.sdcs-div-hide {
  display: none;
}

.home-icon-printer{
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 16px;
  margin-top: 24px;
  background: transparent url("../images/home.jpg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 30px;
}

.home-icon-printer:hover{
  cursor: pointer;
}

.printer-logo-div {
  margin-top: 28px;
  margin-left: 16px;
}

.printer-logo-div.printer-logo-div-center {
  margin-left: 42%;
}

.printer-logo-div:hover{
  cursor: pointer;
}

.printer-logo-div p {
  font-size: 22px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.printer-back-button.printer-back-button-show{
  width: 30px;
  height: 30px;
  margin-top: 24px;
  margin-left: 16px;
  background: transparent url("../images/back-icon2.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 30px;
}

.printer-back-button:hover{
  cursor: pointer;
}

.first-bottom-div{
  margin-top: 30%;
}

#sdc-div {
  max-width: 500px;
  margin: auto;
}

.sdcs-div-show{
  display: block;
}
.printer-wrapper {
  background-color: #262626;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
}

.display-button-div {
  margin: 1em;
}

.printer-div-hide {
  display: none;
}

.printer-display-none-div {
  display: none;
}

#settings-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #262626;
}

#title-element {
  margin-bottom: 1em;
}

.title-element-show {
  display: block;
}

.settings-main-div {
  display: flex;
  flex-direction: row;
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1em 0em 0.5em 0em;
  background-color: #ffb600;
}

.header-one-div {
  width: 50%;
  padding-left: 1em;
  height: auto;
  color: #262626;
  background-color: #ffb600;
}

.header-two-div {
  padding-left: 1em;
  width: 50%;
  height: auto;
  color: #262626;
  background-color: #ffb600;
}

.settings-body-div {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
}

.settings-box-one {
  width: 50%;
  height: 100%;
  padding: 1em;
  padding-bottom: 2em;
  color: #fff;
  background-color: #ffb600;
  border-bottom-left-radius: 5px;
}

.settings-box-two {
  width: 50%;
  height: 100%;
  padding: 1em;
  padding-bottom: 2em;
  text-align: left;
  color: #fff;
  border-bottom-right-radius: 5px;
  background-color: #ffb600;
}

.p-box {
  padding-top: 0.7em;
  border-bottom: 1px solid #262626;
}

.title-div {
  padding-top: 125px;
  margin: 0 auto;
  text-align: center;
  color: #ffb600;
}

.title-div.title-div-hide {
  display: none;
}

.sdc-buttons-div {
  margin: 16px;
}

.example_a {
  width: 160px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffb600;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.4s ease 0s;
}

.printer-specialty-buttons-div {
  margin: 16px;
}

.printer-specialty-div {
  display: none;
}

.printer-specialty-div.top-printer-specialty-div-show {
  display: block;
}

.printer-specialty-example_a {
  width: 160px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffb600;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.4s ease 0s;
}

.printer-specialty-example_a:hover {
  color: #fff;
  background: #7e7e7e;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.printer-example_a {
  width: 160px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffb600;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.4s ease 0s;
}

.printer-example_a:hover {
  color: #fff;
  background: #7e7e7e;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.example_a:hover {
  color: #fff;
  background: #7e7e7e;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.settings-title-h3 {
  margin-bottom: 8px;
}

.hub-printer-settings-title-div {
  width: 90%;
  background: #ffb600;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
}

.hub-lap-settings-div {
  display: none;
}



.hub-lap-settings-div-show {
  margin-top: 30%;
  display: block;
}

.title-text-printer-settings {
  color: #fff;
}

.printer-settings-container {
  display: flex;
  flex-direction: column;
  background: #ffb600;
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  margin-top: 8px;
  padding: 8px;
}

.hub-printer-settings-div {
  width: 50%;
}

.hub-printer-parameter-div {
  width: 48%;
}

.sdc-sdp1000-parameter-div {
  width: 45%;
}

.sdc-sdp1000-settings-div {
  margin-top: 30%;
  width: 100%;
}

.sdc-sdp1000-setting-div {
  width: 52%;
}

.printer-settings-div {
  display: flex;
}

.printer-parameters {
  width: 100%;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #262626;
}

.printer-parameter {
  color: #fff;
}

.printer-settings {
  /* width: 100%; */
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #262626;
}

.printer-setting {
  color: #fff;
}

.sdc-printer-settings-title-div {
  width: 90%;
  background: #ffb600;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
}




@media (max-width: 414px) {

  .printer-logo-div.printer-logo-div-center {
   margin-left: 20%;
  }

}


