* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    /* background-color: #262626; */
  }
  
  body {
    background: #262626;
  }

.storz-nav-wrapper{
    height: 78px; 
}

.storz-navbar{
    display: flex;
    position: fixed;
    height: 78px;
    width: 100%;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    border-bottom: 5px solid #ffb600;
    z-index: 9999;
}

 a {
    text-decoration: none;
}

.storz-logo{
    display: inline-block;
    font-size: 22px;
    margin-top: 16px;
    margin-left: 20px;
    font-weight: 500;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.storz-body-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.storz-home-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 24px;
    margin-top: 24px;
    background: transparent url("../images/home.jpg") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 30px;
}

.storz-home-icon:hover{
    cursor: pointer;
}

.storz-back-btn-div-show {
    width: 30px;
    height: 30px;
    margin-top: 24px;
    margin-left: 24px;
    background: transparent url("../images/arrow.jpg") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    background-size: 30px;
}

.storz-title-div {
    width: 80%;
    margin:  0 auto;
    margin-bottom: 16px;
    padding: 16px;
    background: #ffb600;
    border-radius: 10px;
}


.storz-title-text-span-div {
    display: flex;
    justify-content: center;
    color: #262626;
    font-size: 24px;
    font-weight: 900;
}

.storz-text-div {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #fff;
}
.storz-specialty-title-span {
    margin-left: 8px;
}

.storz-select-ccu-div {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #ffb600;
    margin-top: 32px;
}

.storz-btn-div.storz-btn-div-hide{
    display: none;
}

.storz-btn-div {
    margin: 0 auto;
    width: 100%;
}

.storz-ccu-button {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #ffb600;
    color: #232323;
    border-radius: 10px;
    margin-top: 16px;
    text-align: center;
}

.storz-ccu-button:hover {
    cursor: pointer;
    width: 41%;
    background: #111111;
    color: #fff;
    padding: 16px;
    transition: all ease-in-out 0.4s;
}


